button{
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
}

button:hover{
    cursor: pointer;
}

.wrapper{
    background-color: black;
    border-radius: 1em;
    padding: 1em;
}

.operador{
    background-color: #D291BC;
    color: white;
}

.numero{
    background-color: #FFDFD3;
}

.resultado{
    color: #FEC8D8;
    display:flex;
    justify-content: right;
    margin-right: 1em;
    font-size: 3.5em;
}